<p style="color: green"><%= notice %></p>

<% content_for :title, "Offices" %>

<h1>Offices</h1>


<div id="offices">
  <% @offices.each do |office| %>
    <p>
      <strong>Number:</strong> <%= office.number %><br>
      <strong>Employee:</strong> <%= office.employee.name if office.employee %><br>
      <%= link_to "Show this office", office %>
    </p>
  <% end %>
</div>

<%= link_to "New office", new_office_path %>
